body {
    background-color: burlywood;
}

header {
    text-align: center;
}

header>h1 {
    color: blue;
}

main {
    text-align: center;
}

button {
    padding: 6px;
    margin: 2px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid gray;
}

td{
    width: 20px;
    height:20px;
    text-align:center;
    color:white;
    background-color: gray;
    margin: 0px;
}

table img { 
    /* I know we generally said we will respect the image and set only width or height.
        in this case however I'm going for the quick win so that all my pngs take the same cell space */
    width: 20px;
    height: 20px;
    margin: 0;
}

.alert {
    background-color: yellow;
    color: blue;
    margin: 20px auto;
    font-size: 2em;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.timer {
    height: 20px;
    width: 160px;
    padding: 4px;
    margin: 10px auto;
    text-align: center;
    background-color: lightgreen;
}